:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #D0011B;
    --border-color: #dbdbdb;
    --star-gold: #ffce3d;
}

* {
    /* Inherits property from its parent element */
    box-sizing: inherit;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /* The width and height properties includes content, padding and border */
    box-sizing: border-box;
}

/* respondsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row {
    display: flex;
    /* flex items will wrap onto multiple lines */
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
/* 5 column */
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Animation */

@keyframes faceIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    animation: faceIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
    --growth-from: 0.6;
    --growth-to: 1;
}

/* Button */

.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    line-height: 1.6rem;
    outline: none;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}


.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Selection */

.select-input {
    min-width: 180px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.select-input::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 2px;
    top: 100%;
    right: 0;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}


.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 6px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #D41830;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}




